.contact-btn {
  display: inline-block;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
}

.contact-btn p {
  font-size: clamp(1.15rem, 2.2vw, 1.15rem);
  font-weight: 400;
  letter-spacing: -0.05rem;
  display: inline;
}

#text,
#text2 {
  position: absolute;
  margin-left: 6px;
  border-bottom: 1px solid var(--white);
  transition: all 0.2s;
}

#text2 {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.contact-btn:hover #text {
  visibility: hidden;
  opacity: 0;
  margin-left: 18px;
  border-bottom: 1px solid rgba(255, 246, 229, 0.219);
  transition: all 0.2s;
}
.contact-btn:hover #text2 {
  visibility: visible;
  opacity: 1;
  margin-left: 18px;
  border-bottom: 1px solid rgba(255, 246, 229, 0.219);
  transition: all 0.2s;
}

@media screen and (min-width: 1440px) {
  #text2,
  #text {
    bottom: 5px;
    line-height: 2rem;
  }
}
