.cta-container {
  position: fixed;
  display: flex;
  justify-content: right;
  bottom: 1.8rem;
  left: clamp(1.9rem, 2.2vw, 0.65rem);
  right: clamp(1.9rem, 2.2vw, 0.65rem);
  z-index: 100;
  user-select: none;
}

.projects-cta {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.projects-cta p {
  font-size: clamp(0.65rem, 2.2vw, 0.65rem);
  font-weight: 400;
  letter-spacing: -0.03rem;
  line-height: clamp(1.95rem, 3.2vw, 6rem);

  color: var(--white);
  cursor: pointer;
}

/* desktop tweaks */
@media screen and (min-width: 1440px) {
  .cta-container {
    left: clamp(5.6rem, 2.2vw, 0.65rem);
    right: clamp(5.6rem, 2.2vw, 0.65rem);
  }
}
