@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 1.8rem;
  left: clamp(1.9rem, 2.2vw, 0.65rem);
  right: clamp(1.9rem, 2.2vw, 0.65rem);
  z-index: 100;
}

.header-text {
  font-size: clamp(0.65rem, 2.2vw, 0.65rem);
  font-weight: 400;
  letter-spacing: -0.03rem;
  line-height: clamp(1.95rem, 3.2vw, 6rem);
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1.8rem;
}

.header-buttons a {
  text-decoration: none;
}

/* desktop tweaks */
@media screen and (min-width: 1440px) {
  header {
    left: clamp(5.6rem, 2.2vw, 0.65rem);
    right: clamp(5.6rem, 2.2vw, 0.65rem);
  }

  .header-buttons {
    gap: 3.2rem;
  }

  /* theme switch hover */
  .theme-switch {
    transition: all 0.2s;
  }
  .theme-switch:hover {
    scale: 1.2;
    text-shadow: 0px 0px 24px rgb(255, 251, 13, 0.8);
    transition: all 0.2s;
  }
}
