@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter", sans-serif;
}

:root {
  /* --bg: #1d1d1f; */
  --bg: #111111;
  --white: #fff6e5;
  --gray: #c4c1ba;
  --blue: #5d7ec5;
  --pink: #c44d6a;
}

html {
  font-size: clamp(16px, 4vw, 24px);
}
body {
  background: var(--bg);
  overflow-x: hidden;
}

.App {
  position: relative;
}
/* ----------------------------------------------------------------- */

.container {
  height: 100vh;
  position: relative;
}

.container h1 {
  font-size: clamp(3rem, 5vw, 10rem);
  color: var(--white);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 3;
}

.outside {
  z-index: 3;
  background-color: var(--bg);
}

.inside {
  background-color: var(--bg);
}

.white {
  background-color: #ffffff;
}

/* hoverable opacity */

.hoverable-opacity:hover .animate-opacity,
.projects-cta .animate-opacity {
  animation: opacityPass 1.1s infinite;
  animation-fill-mode: forwards;
}

@keyframes opacityPass {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hoverable-title-opacity {
  cursor: default;
}

.hoverable-title-opacity span {
  display: inline-block;
  transition: all 1s;
}
.hoverable-title-opacity:hover span {
  transition: all 0.2s;
}
